body{
    background: #111111;
    font-family: 'Roboto', sans-serif;
}
#app{
    width: 720px;
    height: 1440px;
    background-color: #222233;
}
#app .contact img{
    width: 120px;
    padding-right: 15px;
}
.contact{
    border-bottom: 1px solid #555;
    padding: 15px;
    position: relative;
    transition: 0.5s;
}
.contact:first-of-type{
    border-top: 1px solid #111223;
}
#app .contact h2{
    color: aliceblue;
    font-size: 30px;
}
#app .contact p{
    color: #555;
    font-size:25px; 
    height: 2.1em;
    /*lucreaza in grup*/
/*white-space: nowrap;*/
overflow: hidden;
text-overflow: ellipsis;

}
#app .contact div{
   display: inline-block;
   vertical-align: top;
}
#app .contact div time{
    color: #666;
    font-size:25px; 
    position: absolute;
    right: 15px;
 }
 #app .contact i{
     position: relative;
     color: rgb(87, 10, 230); 
 }
 #app .contact i:first-of-type{
    left:8px;
    margin-left: 105px;
}
 #app .contact p .autor{
    color: aliceblue;
    font-size:25px; 
}
#app .contact div:first-of-type{
    width: 310px;
}
#app .contact:hover{
    background-color: #111223;
}